name: CI

on:
  #push:
  #  branches: [ "master" ]
  #pull_request:
  #  branches: [ "master" ]
  workflow_dispatch:

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6

    - name: Set up Go
      uses: actions/setup-go@v6
      with:
        go-version: "1.25.x"
        check-latest: true
        cache: false

    - name: Build
      run: |
        go env
        gofmt -w dhparam.go
        CGO_ENABLED=0 GOARCH=amd64 GOAMD64=v3 go build -trimpath -ldflags "-s -w" -mod=mod -o /usr/local/bin/dhparam dhparam.go

    - name: Test
      run: |
        for i in $(seq 1 8); do 
            time dhparam -T $(nproc) -out /tmp/dhparam$(($i * 1024)).pem  $(($i * 1024))
            sleep 2
            echo 'AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA'
            echo "Checking dhparam$(($i * 1024)).pem"
            openssl dhparam -check -text -noout -in /tmp/dhparam$(($i * 1024)).pem 2>&1
            sleep 2
            echo 'AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA'
        done
